<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>シレン6 パラレル補助ツール</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="mobile.css">
  
  <!-- レスポンシブ -->
  <script src="https://cdn.jsdelivr.net/npm/viewport-extra@1.0.3/dist/viewport-extra.min.js"></script>
  <script>new ViewportExtra(375)</script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@3.4.23/dist/vue.global.min.js"></script>
</head>
<!--
  「body onclick=""」の理由
  iPhoneのGoogleアプリのブラウザだとinputのフォーカスが背景を押しても外れない仕様のため、それに対応するためのハック
-->
<body onclick="">
  <div id="app" v-cloak>
    <h1>シレン6 パラレル補助ツール</h1>

    <div class="btn-container">
      <div class="btn" @click="onClickReset">Reset</div>
      <div class="btn">Import</div>
      <div class="btn">Export</div>
    </div>

    <div class="radio-btn-container"
         style="margin-top: 8px;">
      <div class="radio-btn"
           :class="{selected: mode === 'kusa'}"
           @click="mode = 'kusa'">
        草
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'tue'}"
           @click="mode = 'tue'">
        杖
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'makimono'}"
           @click="mode = 'makimono'">
        巻物
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'tubo'}"
           @click="mode = 'tubo'">
        壺
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'okou'}"
           @click="mode = 'okou'">
        お香
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'udewa'}"
           @click="mode = 'udewa'">
        腕輪
      </div>
      <div class="radio-btn"
           :class="{selected: mode === 'floor'}"
           @click="mode = 'floor'">
        階層
      </div>
    </div>

    <div style="margin-top: 12px; padding-bottom: 50px;">
      <table v-if="mode !== 'floor'">
        <tr>
          <th>未識別名</th>
          <th>識別名</th>
        </tr>
        <tr v-for="skbtItem in skbtItemList">
          <td>
            <div v-if="skbtItem.unskbtName !== '' && editTargetItemName !== skbtItem.name"
                 @click="onClickUnskbtItem(skbtItem.name)">
              {{skbtItem.unskbtName}}
            </div>
            <select v-else
                    @blur="onBlurUnskbtItem($event, skbtItem)">
              <option value="">不明</option>
              <option v-if="editTargetItemName === skbtItem.name"
                      :value="skbtItem.unskbtName"
                      selected>
                {{skbtItem.unskbtName}}
              </option>
              <option
                v-for="unskbtName in unskbtNameList.filter(name => isUnskbt(name))"
                :value="unskbtName">
                {{unskbtName}}
              </option>
            </select>
          </td>
          <td>{{skbtItem.name}}</td>
        </tr>
      </table>
      <div v-else>
        <template v-for="floor in floorMemoList">
          <div class="floor-title">{{floor.name}}</div>
          <div v-show="editTargetFloorName !== floor.name"
               class="floor-memo"
               @click="onClickFloor(floor)">
            {{floor.memo.trim() === "" ? "特になし" : floor.memo}}
          </div>
          <textarea
            v-show="editTargetFloorName === floor.name"
            ref="floorMemo"
            class="floor-memo-textarea"
            @blur="onBlurFloor($event, floor)"></textarea>
        </template>
      </div>
    </div>
    
  </div>

  <script src="kusa.js"></script>
  <script src="tue.js"></script>
  <script src="makimono.js"></script>
  <script src="tubo.js"></script>
  <script src="okou.js"></script>
  <script src="udewa.js"></script>
  <script src="floor.js"></script>
  <script src="main.js"></script>
</body>
</html>