
@media screen and (max-width: 580px) {
  :root {
    --font-size: 18px;
  
    font-size: var(--font-size);
  }

  #app {
    margin: 0;
    padding: 0 8px;
  }

  h1 {
    font-size: 27px;
    text-align: center;
  }

  .btn-container-wrapper {
    width: fit-content;
    margin: 0 auto;
  }

  table {
    margin: 0 auto;
  }

  th, td {
    min-width: 170px;
    border: 1px solid black;
    padding: 2px 0;
    text-align: center;
  }

  .edit-container {
    width: 340px;
    margin: 0 auto;
  }

  .floor-memo-textarea, textarea {
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
}
